<div>
  <p>This page was created for practice reason</p>
  <p>The idea: create an application that using nearly only pushing system</p>
  <p>That can resolve and Sukodu</p>
</div>
<div *ngIf="solution">
  <table [formGroup]="solution">
    <tr>
      <td><input [formControlName]="'x1y1'" /></td>
      <td><input [formControlName]="'x2y1'" /></td>
      <td><input [formControlName]="'x3y1'" /></td>
      <td><input [formControlName]="'x4y1'" /></td>
      <td><input [formControlName]="'x5y1'" /></td>
      <td><input [formControlName]="'x6y1'" /></td>
      <td><input [formControlName]="'x7y1'" /></td>
      <td><input [formControlName]="'x8y1'" /></td>
      <td><input [formControlName]="'x9y1'" /></td>
    </tr>
    <tr>
      <td><input [formControlName]="'x1y2'" /></td>
      <td><input [formControlName]="'x2y2'" /></td>
      <td><input [formControlName]="'x3y2'" /></td>
      <td><input [formControlName]="'x4y2'" /></td>
      <td><input [formControlName]="'x5y2'" /></td>
      <td><input [formControlName]="'x6y2'" /></td>
      <td><input [formControlName]="'x7y2'" /></td>
      <td><input [formControlName]="'x8y2'" /></td>
      <td><input [formControlName]="'x9y2'" /></td>
    </tr>
    <tr>
      <td><input [formControlName]="'x1y3'"  /></td>
      <td><input [formControlName]="'x2y3'"  /></td>
      <td><input [formControlName]="'x3y3'"  /></td>
      <td><input [formControlName]="'x4y3'"  /></td>
      <td><input [formControlName]="'x5y3'"  /></td>
      <td><input [formControlName]="'x6y3'"  /></td>
      <td><input [formControlName]="'x7y3'"  /></td>
      <td><input [formControlName]="'x8y3'"  /></td>
      <td><input [formControlName]="'x9y3'"  /></td>
    </tr>
    <tr>
      <td><input [formControlName]="'x1y4'"  /></td>
      <td><input [formControlName]="'x2y4'"  /></td>
      <td><input [formControlName]="'x3y4'"  /></td>
      <td><input [formControlName]="'x4y4'"  /></td>
      <td><input [formControlName]="'x5y4'"  /></td>
      <td><input [formControlName]="'x6y4'"  /></td>
      <td><input [formControlName]="'x7y4'"  /></td>
      <td><input [formControlName]="'x8y4'"  /></td>
      <td><input [formControlName]="'x9y4'"  /></td>
    </tr>
    <tr>
      <td><input [formControlName]="'x1y5'"  /></td>
      <td><input [formControlName]="'x2y5'"  /></td>
      <td><input [formControlName]="'x3y5'"  /></td>
      <td><input [formControlName]="'x4y5'"  /></td>
      <td><input [formControlName]="'x5y5'"  /></td>
      <td><input [formControlName]="'x6y5'"  /></td>
      <td><input [formControlName]="'x7y5'"  /></td>
      <td><input [formControlName]="'x8y5'"  /></td>
      <td><input [formControlName]="'x9y5'"  /></td>
    </tr>
    <tr>
      <td><input [formControlName]="'x1y6'"  /></td>
      <td><input [formControlName]="'x2y6'"  /></td>
      <td><input [formControlName]="'x3y6'"  /></td>
      <td><input [formControlName]="'x4y6'"  /></td>
      <td><input [formControlName]="'x5y6'"  /></td>
      <td><input [formControlName]="'x6y6'"  /></td>
      <td><input [formControlName]="'x7y6'"  /></td>
      <td><input [formControlName]="'x8y6'"  /></td>
      <td><input [formControlName]="'x9y6'"  /></td>
    </tr>
    <tr>
      <td><input [formControlName]="'x1y7'"  /></td>
      <td><input [formControlName]="'x2y7'"  /></td>
      <td><input [formControlName]="'x3y7'"  /></td>
      <td><input [formControlName]="'x4y7'"  /></td>
      <td><input [formControlName]="'x5y7'"  /></td>
      <td><input [formControlName]="'x6y7'"  /></td>
      <td><input [formControlName]="'x7y7'"  /></td>
      <td><input [formControlName]="'x8y7'"  /></td>
      <td><input [formControlName]="'x9y7'"  /></td>
    </tr>
    <tr>
      <td><input [formControlName]="'x1y8'"  /></td>
      <td><input [formControlName]="'x2y8'"  /></td>
      <td><input [formControlName]="'x3y8'"  /></td>
      <td><input [formControlName]="'x4y8'"  /></td>
      <td><input [formControlName]="'x5y8'"  /></td>
      <td><input [formControlName]="'x6y8'"  /></td>
      <td><input [formControlName]="'x7y8'"  /></td>
      <td><input [formControlName]="'x8y8'"  /></td>
      <td><input [formControlName]="'x9y8'"  /></td>
    </tr>
    <tr>
      <td><input [formControlName]="'x1y9'"  /></td>
      <td><input [formControlName]="'x2y9'"  /></td>
      <td><input [formControlName]="'x3y9'"  /></td>
      <td><input [formControlName]="'x4y9'"  /></td>
      <td><input [formControlName]="'x5y9'"  /></td>
      <td><input [formControlName]="'x6y9'"  /></td>
      <td><input [formControlName]="'x7y9'"  /></td>
      <td><input [formControlName]="'x8y9'"  /></td>
      <td><input [formControlName]="'x9y9'"  /></td>
    </tr>


  </table>
</div>
